.navbar-brand > img {

	height: auto;

}



.Header nav li {

	position: relative;

}



.navbar-inverse .navbar-nav>li>a {

	color: #000;

	font-size: 13px;

	font-weight: 500;

	padding: 10px 15px;

	-webkit-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);

}



.navbar-inverse .navbar-nav>.active>a,

.navbar-inverse .navbar-nav>.active>a:focus,

.navbar-inverse .navbar-nav>.active>a:hover {

	color: rgba(255, 255, 255, 0.7);

	background-color: transparent;

}



.navbar-inverse .navbar-nav>li>a:focus,

.navbar-inverse .navbar-nav>li>a:hover {

	color: #0892d0;

	background-color: transparent;

	box-shadow: unset;

}



.navbar-inverse .navbar-brand:focus,

.navbar-inverse .navbar-brand:hover {

	color: #fff;

	background-color: transparent;

	box-shadow: unset;

}



.LoginBox {

	padding: 50px 0;

}



.LoginBox > form {

	width: 400px;

	margin-left: auto;

	margin-right: auto;

	padding: 10px 20px;

	background-color: white;

}


@media(max-width: 767px;){
	.navbar.navbar-inverse .navbar-header{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}


